
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@define-mixin gridify $col, $width, $gutter: 2 {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                width: calc((100 / $col) - $gutter)%;
            }
            @mixin-content;
        }
    }
}

@mixin gridify 2, 400 {}
@mixin gridify 4, 600 {}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

 container {
    max-width: 400px;

 }

 form {
    position: relative;


    & > div {
        margin-right: 3rem;
            input {
                width: 100%;
                font-family: helvetica;
                color: #808284;
            }
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 2.5rem;
            line-height: 1.25rem;
            }
        }
    
ul {
    padding-left: 0;
    list-style: none;
    li {
        color: #ffffff;
        font-family: helvetica;
        font-size: 2rem;
        font-weight: bold;
        border-bottom: 1px solid #FFFFFF;
        background: #0066dd;
        position: relative;
        & > input[type="checkbox"] {
            position: absolute;
            top: 0;
            right: 0;
            width: 1rem;
            height: 1rem;
            margin: .5rem;
        }
        input[type="date"] {
            color: #808284;
            border: none;
             margin: 1rem;
            font-weight: normal;
            font-size: .5rem;


        }

        p {
            margin-left: .5rem
        }
        &.done {
            background: #ffffff;
            color: #0066dd;
            border-bottom: 1px solid #0066dd;
            p {
                text-decoration: line-through;
                line-through-color: #ff2211;
            }
            input[type="date"] {
                display: none;

            }


        }
    }
}

